{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0"> {{season.description}} {{ program.title }}</h1>
                <p>{{ program.synopsis }}</p>
        </div>
        {% for episodes in episode %}
            <h5>Episode {{episodes.id}}: {{episodes.title}}</h5>
        {% endfor %}
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}